<div class="toptext">
  <h1> List of Users </h1>

<%if can? :update, @user %>
<h3>
<%= link_to "Edit Your User", edit_user_path(@user) %> 
<h3>
<br>
<hr>
<%end%>

</div>

<% @users.each do |user| %>
  <%= link_to user_path(user.id) do %>
<div class="usercard">
   <img class="profilepic" src="<%= user.photo %>" alt="user image"/>
  <div class="usernan">
  <h2 class="username"><%= user.name %></h2>
  </div>
</div>
  <% end %> 
<% end %> 

 <%= link_to "Back to events", events_path %> |
  <%= render 'shared/sessions'%>
 