<p style="color: green"><%= notice %></p>

<h1> User's Info</h1>

<div class="usercard">
   <img class="profilepic" src="<%= @user.photo %>" alt="user image"/>
  <div class="usernan">
  <h2 class="username"><%= @user.name %></h2>
  <h4 class="postno">Role: <%= @user.role%> </h4>

  <h4 class="postno">Attendance: <%= @checkins.length%> </h4>
  <h4 class="postno">Events: </h4>
  
<%@events.each do |event|%>
 
      <div class="post">
      <div class="posthead">
        <h4><%= event.name%></h4>
      </div>
        <p><%= event.location%></p>
       </div>

    <%end%>
  </div>
</div>

<div>
  <%= link_to "Back to All Users", users_path %> |
  <%= link_to "Back to events", events_path %> |
  <%= render 'shared/sessions'%>
</div>

