<p style="color: green"><%= notice %></p>

<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <p>
      <%= link_to event_path(event.id) do %>
      <%= event.name%>
<%end%>
    </p>
  <% end %>
</div>

<br>
<hr>
  <%= link_to "View Users", users_path %> 
  
  <% if current_user.present? && current_user.role == "admin" %>|
<%= link_to "New event", new_event_path %> |
  <%end%>

<%= render 'shared/sessions'%>
