<!DOCTYPE html>
<html>
  <head>
    <title>EstadisticasChidas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <% if user_signed_in? %>
  <% if current_user.role == 'admin' %>
    <span> 
    -- <%= current_user.name %>'s Account --
    </span>
  <% else %>
    <span> You are logged in as a Guest User. Please look around freely. </span>
  <% end %>
    <%end %>
  </p>

    <%= yield %>
  </body>
</html>
